allure-pytest
allure-python-commons
altgraph
attrs
certifi
cffi
charset-normalizer
colorama
distlib
et_xmlfile
filelock
h11
idna
iniconfig
Jinja2
load-dotenv
MarkupSafe
openpyxl
outcome
packaging
pefile
pillow
pip
pipenv
platformdirs
pluggy
pycparser
pyinstaller
pyinstaller-hooks-contrib
PySocks
pytesseract
pytest
pytest-base-url
pytest-html
pytest-metadata
pytest-selenium
pytest-sugar
pytest-variables
python-dotenv
pywin32-ctypes
requests
selenium
setuptools
sniffio
sortedcontainers
tenacity
termcolor
tqdm
trio
trio-websocket
typing_extensions
urllib3
virtualenv
webdriver-manager
websocket-client
wheel
wsproto
